<div>
  <!-- <section>
    <h1>INTERPOLAÇÃO</h1>
    <p>Exemplo 1: {{ url }}</p>
    <p>Exemplo 2: {{ 2 * 5 }}</p>
    <p>Exemplo 3: {{ 2 + getValue() }}</p>
    <p>Exemplo 4: {{ true && false }}</p>
  </section>
  <br />


  <section>
    <h1>PROPERTY BINDING</h1>
    <p>Exemplo 1: <img [src]="imageUrl" height="50" width="50"></p>
    <p>Exemplo 2: <img bind-src="imageUrl" height="50" width="50"></p>
  </section>
  <br />


  <section>
    <h1>CLASS BINDING</h1>

    <select #cor (change)="0">
      <option value="color-1">Vermelho</option>
      <option value="color-2">Verde</option>
      <option value="color-3">Azul</option>
    </select>
    <br />

    <p>Exemplo 1:</p>
    <button nz-button nzType="primary" [class.color-1]="cor.value == 'color-1'">Cor 1</button>
    <button nz-button nzType="primary" [class.color-2]="cor.value == 'color-2'">Cor 2</button>
    <button nz-button nzType="primary" [class.color-3]="cor.value == 'color-3'">Cor 3</button>

    <p>Exemplo 2:</p>
    <button nz-button nzType="primary" class="{{ cor.value }}">Cor 1</button>

    <p>Exemplo 3:</p>
    <button nz-button nzType="primary" [class]="cor.value">Cor 1</button>
  </section>
  <br />


  <section>
    <h1>STYLE BINDING</h1>
    <p>Exemplo:</p>
    <button nz-button nzType="primary" class="color-1" [style.display]="cor.value == 'color-1' ? 'block' : 'none'">Cor 1</button>
  </section>
  <br /> -->


  <section>
    <h1>EVENT BINDING</h1>
    <p>Exemplo 1:</p>
    <button nz-button nzType="primary" (click)="buttonClicked()">Clique</button>
    <br /> <br />

    <p>Exemplo 2:</p>
    <input nz-input placeholder="Basic" (keyup)="onKeyUp($event)" (keyup.enter)="saveText($event.target.value)" />
    <p>Texto digitado: {{ writtenText }}</p>
    <p>Texto guardado: {{ savedText }}</p>

    <p>Exemplo 3:</p>
    <input nz-input placeholder="Basic" (keyup)="onKeyUp($event)" (keyup.enter)="saveText(inputText.value)" #inputText />
    <p>Texto digitado: {{ writtenText }}</p>
    <p>Texto guardado: {{ savedText }}</p>
    <br />
  </section>
  <br />
</div>
